body {
background-image: url("../images/gifbackground.gif");
background-size: cover;
}

#gifs-view {
    background-image: url("..//images/gifcontainbackground.jpg");
    background-size: cover;
}

.jumbotron-fluid {
    background-color: black;
    text-align: left;
    padding: 0;
    z-index: 99;
    font-family: fantasy;
    color: aliceblue;
}

.lead, 
h5, p {
    color: aliceblue;
    text-align: center;
    padding: 0%;
}

label {
    color: aliceblue;
}

#topic-input {
    width: 100%;
}

.movie-gif {
    display: inline-block;
   background: rgba(0, 0, 0, 0.452);
    border: 1px solid black;
    margin: 3px;
}

.topic-gif,
#add-topic {
    margin: 2px;
}

.col-lg-9 {
    padding-left: 0;
}


.card-footer {
    background-image: url("../images/rubiklive.gif");
    background-size: 10%;
    margin-top: 5px;
    text-align: center;
    z-index: -99;
    width: 100%;
}