body {
background-image: url("../images/gifbackground.gif");
background-size: cover;
color: aliceblue;
font-family: 'Encode Sans Semi Condensed', sans-serif;
}

/* Jumbotron */
.jumbotron-fluid {
    background-color: rgba(200, 243, 7, 0.925);
    padding: 0;
    z-index: 99;   
}
.display-4 {
    color: white;
    font-family: 'Monoton', cursive;
    text-shadow: 1px 1px #00b34a, 
                 2px 2px #f75a00, 
                 3px 3px #2a04b3; 
    text-align-last: auto;
    text-align: center;
}

.lead {
    text-align: center;
    padding: 0%;
}

.lead {
    font-family: 'Cabin Sketch', cursive;
}

/* Gif header */
#column {
    padding: 3px;
}
#word {  
    font-family: 'Rancho', cursive;
    font-size: 1.4rem;
    margin-left: 10px;
}

/* Gif Buttons */
.gif-btn,
#add-topic {
    margin: 2px;
}

.gif-btn {
    background: rgb(0, 238, 255);
    font-weight: bold;
    color: black;
}

#topic-input {
    width: 100%;
}

/* Gif Display Area */
.movie-gif {
}

.topic-img, 
.movie-gif {
    margin: 3px;
    background: rgba(0, 0, 0, 0.452);
    border: 1px solid black;
    border-radius: 10%;
    display: inline-block;
    padding: 5px;
    max-width: 920px;
    text-align: center;
}

#gifs-view {
    background-image: url("..//images/gifcontainbackground.jpg");
    background-size: 100%;
}

h3 {
    font-family: 'Special Elite', cursive;
    color: rgb(255, 255, 255);
    background: tomato;
}

/* footer */
.card-footer {
    background-image: url("../images/giftitle.gif");
    background-size: 10%;
    color: white;
    background-repeat: no-repeat;
    margin-top: 5px;
    z-index: -99;
    width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .topic-img {
        max-width: 660px;
    }
}

@media only screen and (max-width: 680px) {
    .topic-img {
        max-width: 500px;
    }
}

@media only screen and (max-width: 480px) {
    .topic-img {
       max-width: 420px;
       height: auto;
    }

    body {
        background-size: contain; 
    }
}

@media only screen and (max-width: 320px) {
    .display-4 {
        font-size: 2.5rem;
    }

    .topic-img {
        max-width: 260px;
        height: auto;
    }
    
    #gif-view {
        background-size: 100%;
    }

    .jumbotron-fluid {
         width: 100%;
    }
}
